<h1>New Entry</h1>

<form action="/entries" method="post">
  <p>
    
  <p>
    <label for="title">Title</label>
    <input type="text" name="title" id="title">
  </p>

  </p>
  <button>Submit</button>
</form>