<h1><%= @Place["name"] %></h1>

<ul>
  <% for place in @places %>
    <li>
      <%= place["name"] %>
     
    </li>
  <% end %>
</ul>

<p>
  <a href="/Places/new">New place</a>
</p>

 <p>
   <a href="/Places">Back to All Place</a>
 </p>